BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "led[0]" SITE "AM28" ;
LOCATE COMP "led[1]" SITE "AL28" ;
LOCATE COMP "led[2]" SITE "AM29" ;
LOCATE COMP "led[3]" SITE "AK28" ;
LOCATE COMP "led[4]" SITE "AK32" ;
LOCATE COMP "led[5]" SITE "AM30" ;
LOCATE COMP "led[6]" SITE "AJ32" ;
LOCATE COMP "led[7]" SITE "AL30" ;
LOCATE COMP "gpio[0]" SITE "D16" ;
LOCATE COMP "gpio[1]" SITE "A16" ;
LOCATE COMP "gpio[2]" SITE "E16" ;
LOCATE COMP "gpio[3]" SITE "B16" ;
LOCATE COMP "gpio[4]" SITE "C15" ;
LOCATE COMP "gpio[5]" SITE "A15" ;
LOCATE COMP "gpio[6]" SITE "D15" ;
LOCATE COMP "gpio[7]" SITE "F16" ;
LOCATE COMP "gpio[8]" SITE "B14" ;
LOCATE COMP "gpio[9]" SITE "A14" ;
LOCATE COMP "gpio[10]" SITE "C14" ;
LOCATE COMP "gpio[11]" SITE "F15" ;
LOCATE COMP "gpio[12]" SITE "F14" ;
LOCATE COMP "gpio[13]" SITE "E14" ;
LOCATE COMP "gpio[14]" SITE "A13" ;
LOCATE COMP "gpio[15]" SITE "D14" ;
LOCATE COMP "gpio[16]" SITE "F13" ;
LOCATE COMP "gpio[17]" SITE "D13" ;
LOCATE COMP "gpio[18]" SITE "A11" ;
LOCATE COMP "gpio[19]" SITE "C13" ;
LOCATE COMP "gpio[20]" SITE "D11" ;
LOCATE COMP "gpio[21]" SITE "C11" ;
LOCATE COMP "gpio[22]" SITE "E11" ;
LOCATE COMP "gpio[23]" SITE "B11" ;
LOCATE COMP "clk" SITE "A17" ;
LOCATE COMP "rstn" SITE "AH30" ;
LOCATE COMP "perstn" SITE "AG3" ;
IOBUF PORT "perstn" IO_TYPE=LVCMOS33 ;
