BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "led[0]" SITE "AM28" ;
LOCATE COMP "led[1]" SITE "AL28" ;
LOCATE COMP "led[2]" SITE "AM29" ;
LOCATE COMP "led[3]" SITE "AK28" ;
LOCATE COMP "led[4]" SITE "AK32" ;
LOCATE COMP "led[5]" SITE "AM30" ;
LOCATE COMP "led[6]" SITE "AJ32" ;
LOCATE COMP "led[7]" SITE "AL30" ;
