rvl_alias "ddr3_sclk" "ddr3_sclk";
RVL_ALIAS "ddr3_sclk" "ddr3_sclk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "perstn" SITE "B19" ;
LOCATE COMP "osc" SITE "B12" ;
LOCATE COMP "gpio_a[0]" SITE "K20" ;
LOCATE COMP "gpio_a[1]" SITE "J20" ;
LOCATE COMP "gpio_a[2]" SITE "H20" ;
LOCATE COMP "gpio_a[3]" SITE "G19" ;
LOCATE COMP "gpio_a[4]" SITE "G18" ;
LOCATE COMP "gpio_a[5]" SITE "F17" ;
LOCATE COMP "gpio_a[6]" SITE "G20" ;
LOCATE COMP "gpio_a[7]" SITE "F20" ;
LOCATE COMP "gpio_a[8]" SITE "F19" ;
LOCATE COMP "gpio_a[9]" SITE "E20" ;
LOCATE COMP "gpio_a[10]" SITE "E17" ;
LOCATE COMP "gpio_a[11]" SITE "D18" ;
LOCATE COMP "gpio_a[12]" SITE "E19" ;
LOCATE COMP "gpio_a[13]" SITE "D20" ;
LOCATE COMP "gpio_a[14]" SITE "D19" ;
LOCATE COMP "gpio_a[15]" SITE "C20" ;
LOCATE COMP "gpio_a[16]" SITE "K19" ;
LOCATE COMP "gpio_a[17]" SITE "J19" ;
LOCATE COMP "gpio_a[18]" SITE "K18" ;
LOCATE COMP "gpio_a[19]" SITE "J18" ;
LOCATE COMP "gpio_a[20]" SITE "H17" ;
LOCATE COMP "gpio_a[21]" SITE "H18" ;
LOCATE COMP "gpio_a[22]" SITE "F18" ;
LOCATE COMP "gpio_a[23]" SITE "E18" ;
LOCATE COMP "gpio_a[24]" SITE "J16" ;
LOCATE COMP "gpio_a[25]" SITE "J17" ;
LOCATE COMP "gpio_a[26]" SITE "H16" ;
LOCATE COMP "gpio_a[27]" SITE "G16" ;
LOCATE COMP "gpio_a[28]" SITE "D17" ;
LOCATE COMP "gpio_a[29]" SITE "C18" ;
LOCATE COMP "gpio_a[30]" SITE "F16" ;
LOCATE COMP "gpio_a[31]" SITE "E16" ;
LOCATE COMP "gpio_b[0]" SITE "U20" ;
LOCATE COMP "gpio_b[1]" SITE "T20" ;
LOCATE COMP "gpio_b[2]" SITE "R20" ;
LOCATE COMP "gpio_b[3]" SITE "P20" ;
LOCATE COMP "gpio_b[4]" SITE "N20" ;
LOCATE COMP "gpio_b[5]" SITE "N19" ;
LOCATE COMP "gpio_b[6]" SITE "M19" ;
LOCATE COMP "gpio_b[7]" SITE "L19" ;
LOCATE COMP "gpio_b[8]" SITE "M18" ;
LOCATE COMP "gpio_b[9]" SITE "L18" ;
LOCATE COMP "gpio_b[10]" SITE "R17" ;
LOCATE COMP "gpio_b[11]" SITE "R16" ;
LOCATE COMP "gpio_b[12]" SITE "L17" ;
LOCATE COMP "gpio_b[13]" SITE "L16" ;
LOCATE COMP "gpio_b[14]" SITE "M17" ;
LOCATE COMP "gpio_b[15]" SITE "N16" ;
LOCATE COMP "gpio_b[16]" SITE "U17" ;
LOCATE COMP "gpio_b[17]" SITE "U18" ;
LOCATE COMP "gpio_b[18]" SITE "T18" ;
LOCATE COMP "gpio_b[19]" SITE "U19" ;
LOCATE COMP "gpio_b[20]" SITE "R18" ;
LOCATE COMP "gpio_b[21]" SITE "T19" ;
LOCATE COMP "gpio_b[22]" SITE "P18" ;
LOCATE COMP "gpio_b[23]" SITE "P19" ;
LOCATE COMP "gpio_b[24]" SITE "P17" ;
LOCATE COMP "gpio_b[25]" SITE "N18" ;
LOCATE COMP "gpio_b[26]" SITE "T17" ;
LOCATE COMP "gpio_b[27]" SITE "U16" ;
LOCATE COMP "gpio_b[28]" SITE "M20" ;
LOCATE COMP "gpio_b[29]" SITE "L20" ;
LOCATE COMP "gpio_b[30]" SITE "P16" ;
LOCATE COMP "gpio_b[31]" SITE "N17" ;
LOCATE COMP "ddr3_rstn" SITE "L5" ;
LOCATE COMP "ddr3_ck0" SITE "H2" ;
LOCATE COMP "ddr3_cke" SITE "J5" ;
LOCATE COMP "ddr3_a[0]" SITE "D2" ;
LOCATE COMP "ddr3_a[1]" SITE "K1" ;
LOCATE COMP "ddr3_a[2]" SITE "C2" ;
LOCATE COMP "ddr3_a[3]" SITE "D1" ;
LOCATE COMP "ddr3_a[4]" SITE "L1" ;
LOCATE COMP "ddr3_a[5]" SITE "C1" ;
LOCATE COMP "ddr3_a[6]" SITE "L2" ;
LOCATE COMP "ddr3_a[7]" SITE "B1" ;
LOCATE COMP "ddr3_a[8]" SITE "N1" ;
LOCATE COMP "ddr3_a[9]" SITE "A2" ;
LOCATE COMP "ddr3_a[10]" SITE "J1" ;
LOCATE COMP "ddr3_a[11]" SITE "P1" ;
LOCATE COMP "ddr3_a[12]" SITE "K2" ;
LOCATE COMP "ddr3_ba[0]" SITE "E2" ;
LOCATE COMP "ddr3_ba[1]" SITE "K3" ;
LOCATE COMP "ddr3_ba[2]" SITE "E1" ;
LOCATE COMP "ddr3_d[0]" SITE "C5" ;
LOCATE COMP "ddr3_d[1]" SITE "C3" ;
LOCATE COMP "ddr3_d[2]" SITE "B4" ;
LOCATE COMP "ddr3_d[3]" SITE "D3" ;
LOCATE COMP "ddr3_d[4]" SITE "A5" ;
LOCATE COMP "ddr3_d[5]" SITE "B3" ;
LOCATE COMP "ddr3_d[6]" SITE "B5" ;
LOCATE COMP "ddr3_d[7]" SITE "C4" ;
LOCATE COMP "ddr3_d[8]" SITE "P5" ;
LOCATE COMP "ddr3_d[9]" SITE "L3" ;
LOCATE COMP "ddr3_d[10]" SITE "P3" ;
LOCATE COMP "ddr3_d[11]" SITE "M4" ;
LOCATE COMP "ddr3_d[12]" SITE "N3" ;
LOCATE COMP "ddr3_d[13]" SITE "N5" ;
LOCATE COMP "ddr3_d[14]" SITE "P4" ;
LOCATE COMP "ddr3_d[15]" SITE "N4" ;
LOCATE COMP "ddr3_dm[0]" SITE "E3" ;
LOCATE COMP "ddr3_dm[1]" SITE "M3" ;
LOCATE COMP "ddr3_dqs[0]" SITE "E4" ;
LOCATE COMP "ddr3_dqs[1]" SITE "N2" ;
LOCATE COMP "ddr3_csn" SITE "F2" ;
LOCATE COMP "ddr3_casn" SITE "G2" ;
LOCATE COMP "ddr3_rasn" SITE "H1" ;
LOCATE COMP "ddr3_wen" SITE "F1" ;
LOCATE COMP "ddr3_odt" SITE "A4" ;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 6 VCCIO 1.5 V;
BANK 7 VCCIO 1.5 V;
BANK 8 VCCIO 3.3 V;
IOBUF PORT "perstn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "osc" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[25]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[26]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[27]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[28]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[29]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[30]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[31]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_a[24]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[24]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[25]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[26]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[27]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[28]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[29]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[30]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_b[31]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ddr3_rstn" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_ck0" IO_TYPE=SSTL15D_I ;
IOBUF PORT "ddr3_cke" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[0]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[1]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[2]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[3]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[4]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[5]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[6]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[7]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[8]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[9]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[10]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[11]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[12]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_a[13]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_ba[0]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_ba[1]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_ba[2]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[0]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[1]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[2]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[3]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[4]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[5]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[6]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[7]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[8]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[9]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[10]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[11]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[12]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[13]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[14]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_d[15]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_dm[0]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_dm[1]" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_dqs[0]" IO_TYPE=SSTL15D_I ;
IOBUF PORT "ddr3_dqs[1]" IO_TYPE=SSTL15D_I ;
IOBUF PORT "ddr3_csn" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_casn" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_rasn" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_wen" IO_TYPE=SSTL15_I ;
IOBUF PORT "ddr3_odt" IO_TYPE=SSTL15_I ;
BLOCK JTAGPATHS ;
FREQUENCY NET "ddr3_sclk" 150.000000 MHz ;
